services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=mongodb://mongodb:27017/next-todo-app
      - JWT_ACCESS_SECRET=your_secret_key_here
      - JWT_ACCESS_TTL_SECONDS=3600
      - NODE_ENV=production
    depends_on:
      - mongodb

volumes:
  mongodb_data:
